<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c33f2e6-abda-49bb-9f53-14a43b88c673" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-log-out</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4ff4a1fc-24db-489a-bdd2-532081dbc62f">contentBase</Composition>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
      <Composition Key="5d511dbc-4e54-40e7-9e61-cc6c914c5018">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019e162f-8ec8-7d0c-bcb5-78d3fd5647e8">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>