<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e603a49-45df-4dd1-ab88-4b5a943fafa8" Alias="Register/Login" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/RegisterLogin</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2026-05-11T08:40:37</CreateDate>
    <NodeName Default="Register/Login" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e162f-8ec8-7d0c-bcb5-78d3fd5647e8">Login</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Register or login]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePrority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePrority>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>