<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f0dc465-b10b-40e3-9904-81bd09a53caa" Alias="XmlSiteMapSettings - Search Engine Relative Prority - Slider" Level="1">
  <Info>
    <Name>XmlSiteMapSettings - Search Engine Relative Prority - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0.5,
  "initVal2": 0.5,
  "maxVal": 1,
  "minVal": 0.1,
  "step": 0.1
}]]></Config>
</DataType>